    <div id="minraise_table">
            <table class="table table-bordered table-striped table-hover" name="table2" id="table2">
                <tr>
                    <th colspan="4">Min Raise Range Test:</th>
                </tr>
                <tr>
                    <td colspan="4">{{minraise_output}}</td>
                </tr>
            </table>
        </div>    
        <div id="shove_table">
            <table class="table table-bordered table-striped table-hover" name="table3" id="table3">       
                <tr>
                    <th colspan="4">Shove Range: </th>
                </tr>
                <tr>
                    <td colspan="4">{{shoverange_output}}</td>
                </tr>
            </table>
        </div>
            
        <div id="output_table1">
        {{{output_table1}}}
        </div>    
       
        <div id="output_table2">
        {{{output_table2}}}
        </div>    
        
        <div id="output_table3">
        {{{output_table3}}}
        </div>  